@use '../../utils' as *;

/*----------------------------------------*/
/* career css start here
/*----------------------------------------*/

.career-details {
    &-meta {
        & span {
            font-weight: 500;
            font-size: 30px;
            line-height: 1;
            @media #{$xxxl} {
                font-size: 25px;
            }
            @media #{$xxl,$xl} {
                font-size: 18px;
            }
            @media #{$lg} {
                font-size: 16px;
            }
            @media #{$md,$xs} {
                font-size: 15px;
            }
        }
        & strong {
            font-weight: 500;
            font-size: 30px;
            margin-left: 20px;
            line-height: 1.5;
            color: var(--oit-clr-black);
             @media #{$xxxl} {
                font-size: 25px;
            }
            @media #{$xxl,$xl} {
                font-size: 18px;
            }
             @media #{$lg} {
                font-size: 16px;
            }
            @media #{$md,$xs} {
                font-size: 15px;
            }
        }
        &:not(:last-child) {
            padding-right: 40px;
            margin-right: 40px;
            line-height: 1;
            border-right: 1px solid rgba(73, 73, 73, 0.5);
            @media #{$lg,$md} {
                margin-bottom: 15px;
            }
            @media #{$xs} {
                margin-bottom: 15px;
                border: none;
            }
        }
        &-box {
            @media #{$lg,$md,$xs} {
                flex-wrap: wrap;
                align-items: start !important;
                justify-content: start !important;
                margin-bottom: 50px;
            }
        }
    }
    &-list {
        & li {
            list-style-type: none;
            padding-left: 30px;
            position: relative;
            &:not(:last-child){
                margin-bottom: 25px;
            }
            & span {
                font-weight: 600;
                font-size: 20px;
                line-height: 1.5;
                color: var(--oit-clr-black);
                @media #{$xxl,$xl} {
                    font-size: 18px;
                } 
                @media #{$lg,$md,$xs} {
                    font-size: 16px;
                } 
                & svg,i {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
    &-deadline {
        & span {
            font-weight: 600;
            font-size: 30px;
            line-height: 1.33;
            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 18px;
            } 
        }
        & strong {
            font-weight: 600;
            font-size: 30px;
            line-height: 1.33;
            margin-right: 15px;
            display: inline-block;
            color: var(--oit-clr-black);
            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 18px;
            } 
        }
    }
    &-area {
        & .postbox-dsc {
            & p {
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 0;
                @media #{$lg,$md,$xs} {
                    font-size: 16px;
                }
            }
        }
    }
}
.career {
    &-item {
        padding: 20px 30px 30px 30px;
        border-radius: 10px;
        background-color: var(--oit-clr-white);
        @media #{$xxxl,$xxl,$xl,$lg,$md,$xs}{
            padding: 25px 20px;
        }
        @media #{$xs}{
            padding: 25px 20px;
        }
        @media #{$sm}{
            padding: 40px;
        }
        & p {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;
            margin-bottom: 35px;
            margin-right: 40px;
            letter-spacing: -0.06em;
        }
        & .title {
            font-weight: 500;
            font-size: 30px;
            line-height: 1.47;
            margin-bottom: 10px;
            letter-spacing: -0.01em;
            @media #{$xxl,$xl,$lg,$md,$xs}{
                font-size: 25px;
            }
        }
    }
    &-price {
        font-size: 14px;
        border-radius: 5px;
        padding: 11px 20px;
        display: inline-block;
        line-height: 1;
        color: var(--it-common-white);
        background-color: var(--it-text-body);
        border: 1px solid rgba(26, 182, 157, 0.3);
        @media #{$xs}{
            margin-bottom: 20px;
        }
        @media #{$sm}{
            margin-bottom: 0;
        }
    }
    &-meta {
        margin-bottom: 25px;
        & span {
            font-weight: 500;
            font-size: 14px;
            line-height: 1;
            display: inline-block;
            text-transform: uppercase;
            @media #{$xxxl,$xxl,$xl,$lg,$md,$xs}{
                font-size: 12px;
            }
            & svg {
                display: inline-block;
                margin-right: 5px;
            }
            &:not(:last-child){
                padding-right: 20px;
                margin-right: 20px;
                border-right: 1px solid #D9D9D9;
            }
        }
    }
    &-area {
        & .shape-1 {
            position: absolute;
            top: 5%;
            right: 20%;
        }
    }
}
.dg-step-area {
    &.career-style {
        & .shape {
            position: absolute;
            top: -10%;
            right: -8%;
            @media #{$lg,$md,$xs}{
                display: none;
            }
        }
        & .dg-step-item {
            padding: 35px 40px 38px 40px;
            & > span {
                margin-bottom: 25px;
            }
            & p {
                font-weight: 400;
                font-size: 14px;
                line-height: 1.71;
                letter-spacing: -0.06em;
            }
            & .dg-step-title {
                font-weight: 500;
                line-height: 1.47;
                margin-bottom: 23px;
                letter-spacing: -0.01em;
            }
        }
    }
} 
.dg-contact-area.faq-style {
    & .dg-contact{
        &-info {
            & span {
                color: var(--oit-clr-black);
            }
            & a {
                color: rgba($color: #0D0D0D, $alpha: 0.7);
                @media #{$xs}{
                    & br {
                        display: none;
                    }
                }
            }
        }
        &-social {
            & a {
                color: var(--oit-clr-black);
            }
        }
        &-form-box {
            border: none;
            box-shadow: none;
            backdrop-filter: blur(10px);
            background: rgba($color: #EDEDED, $alpha: 0.7);
            & label {
                color: var(--oit-clr-black);
            }
        }
        &-input-box {
            & input {
                color: var(--oit-clr-black);
                background-color: transparent;
                border-bottom: 1px solid rgba($color: #0D0D0D, $alpha: 0.2);
                &::placeholder {
                    color: rgba($color: #0D0D0D, $alpha: 0.8);
                }
                &:focus{
                    border-color: var(--oit-clr-black);
                }
            }
        }
        &-textarea-box {
            & textarea {
                background-color: transparent;
                border-bottom: 1px solid rgba($color: #0D0D0D, $alpha: 0.2);
                &::placeholder {
                    color: rgba($color: #0D0D0D, $alpha: 0.8);
                }
                &:focus{
                    border-color: var(--oit-clr-black);
                }
            }
        }
        &-select {
            & .nice-select {
                background-color: transparent;            
                color: rgba(255, 255, 255, 0.8);
                border-bottom: 1px solid rgba($color: #0D0D0D, $alpha: 0.2);
                & span.current {
                   color: rgba($color: #0D0D0D, $alpha: 0.8);
                }
                &::after {
                    border-bottom: 2px solid var(--oit-clr-black);
                    border-right: 2px solid var(--oit-clr-black);
                }
            }
        }
        &-shape {
            &-1 {
                position: absolute;
                bottom: auto;
                top: -9%;
                left: auto;
                right: -7%;
                opacity: 1;
                @media #{$lg,$md,$xs}{
                    display: none;
                }
                & img {
                    opacity: 1;
                }
            }
        }
    }
}