@use '../../utils' as *;
/*----------------------------------------*/
/*  5.4 team-details details css
/*----------------------------------------*/

.team-details {
    &-area {
        & .row ~ .col {
            height: 100%;
        }
    }
}
.profile {
    &-card {        
        border-radius: 30px;
    }
    &-thumb {
        margin-right: 35px;
        height: 100%;
        @media #{$lg,$md,$xs}{
            margin-right: 0;
        }
        & img {
            height: 100%;
            object-fit: cover;
            border-radius: 30px;
        }
    }
    &-content {
        padding: 30px 70px 30px 0;
         @media #{$lg,$md,$xs}{
            padding: 30px;
        }
        & .title {
            font-weight: 600;
            font-size: 45px;
            margin-bottom: 15px;
             @media #{$xs}{
                font-size: 30px;
            }
        }
        & > span {
            font-weight: 600;
            font-size: 20px;
            display: block;
            margin-bottom: 45px;
            color: rgba(13, 13, 13, 0.6);
        }
        & > p {
            font-weight: 500;
            font-size: 18px;
            line-height: 1.67;
            @media #{$xs}{
                font-size: 16px;
            }
        }
        & .contact-info {
            position: relative;
            padding-left: 40px;
            padding-bottom: 15px;
            margin-bottom: 55px;
            border-bottom: 1px solid #D9D9D9;
            & > a {
                font-weight: 600;
                font-size: 20px;
                color: var(--oit-clr-black);
            }
            & span {
                display: block;
                font-size: 14px;
                margin-top: 3px;
            }
            & svg {
                position: absolute;
                top: 10px;
                left: 0;
            }
        }
        & .contact-social {
            padding-bottom: 32px;
            margin-bottom: 55px;
            border-bottom: 1px solid #D9D9D9;
            & a {
                height: 40px;
                width: 40px;
                line-height: 36px;
                display: inline-block;
                border-radius: 50%;
                text-align: center;
                transition: .3s;
                color: var(--oit-grey-2);
                background: rgba($color: #0D0D0D, $alpha: 0.08);
                &:not(:last-child) {
                    margin-right: 10px;
                }
                &:hover {
                    color: var(--oit-clr-white);
                    background-color: var(--oit-clr-black);
                }
            }
        }
    }
}