@use '../utils' as *;
/*---------------------------------
    1.2 Common Classes
---------------------------------*/
.w-img{
	& img{
		width: 100%;
	}
}
.m-img{
	& img{
		max-width: 100%;
	}
}
.fix {
    overflow:hidden
}
.clear{
    clear: both;
}

.z-index-1{
	position: relative;
	z-index: 1;
}
.z-index-2{
	position: relative;
	z-index: 2;
}
.z-index-3{
	position: relative;
	z-index: 3;
}
.z-index-4{
	position: relative;
	z-index: 4;
}
.z-index-5{
	position: relative;
	z-index: 5;
}
.z-index-6{
	position: relative;
	z-index: 6;
}
.z-index-7{
	position: relative;
	z-index: 7;
}
.z-index-8{
	position: relative;
	z-index: 8;
}
.z-index-9{
	position: relative;
	z-index: 9;
}
.z-index-10{
	position: relative;
	z-index: 10;
}

.gx-2{
	--bs-gutter-x: 2px;
}
.gx-10{
	--bs-gutter-x: 10px;
}
.gx-20{
	--bs-gutter-x: 20px;
}
.gx-30{
	--bs-gutter-x: 30px;
}
.gx-40{
	--bs-gutter-x: 40px;
}
.gx-45{
	--bs-gutter-x: 45px;
}
.gx-50{
	--bs-gutter-x: 50px;
}
.gx-60{
	--bs-gutter-x: 60px;
}
.gx-70{
	--bs-gutter-x: 70px;
}
.gx-80{
	--bs-gutter-x: 80px;
}
.gx-90{
	--bs-gutter-x: 90px;
}
.gx-100{
	--bs-gutter-x: 100px;
}

.overflow-y-visible{
	overflow-x: hidden;
	overflow-y: visible;
}
.p-relative{
	position: relative;
}
.p-absolute{
	position: absolute;
}
.include-bg{
	@include oit-background();
}

.oit-text-white{
	color: var(--oit-clr-white);
}
.oit-text-black{
	color: var(--oit-clr-black);
}

/* dropcap */
.oit-dropcap{
	&::first-letter{
		margin-left: 280px;
		@media #{$md,$xs}{
			margin-left: 0;
		}
	}
}

.border-radius-10 {
	border-radius: 10px;
}


.oit-img-wrap {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 3;
  width: 300px;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  pointer-events: none;
  transform: translate(-50% ,-50%);
    @media #{$lg,$md,$xs}{
		width: 200px;
		height: 250px;
    } 
  & .oit-img-inner-wrap {
    display: flex;
    flex-direction: column;
  }
 & img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    object-position: center;
	@media #{$lg,$md,$xs}{
		width: 200px;
		height: 250px;
	} 
  }
}

.image-gsl {
    position: relative;
    display: inline-block;
	&  img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: inline-block;
	}
	&-canvas {
		position: absolute;
		inset: 0;
		display: inline-block;
		pointer-events: none;
		object-fit: cover;
	}
}

.border-line {
    display: inline;
    background-repeat: no-repeat;
    background-size: 0% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    transition: background-size 0.3s linear;
    background-image: linear-gradient(currentcolor, currentcolor), linear-gradient(currentcolor, currentcolor);
    &:hover {
        background-size: 0% 2px, 100% 2px;
    }
}
.grey-bg {
	background-color: var(--oit-grey-1);
}
.white-bg {
	background-color: var(--oit-clr-white);
}
.black-bg{
	background-color: var(--oit-clr-black);
}


