:root {
  /**=========== color ===========*/
  --oit-clr-white: #fff;
  --oit-clr-black: #000;
  --oit-grey-1: #f5f5f5;
  --oit-grey-2: #494949;
  --oit-text-body: #5d5d5d;
  --oit-theme-1: #000;
  --oit-border-1: #EAEBED;
}