@use '../utils' as *;
/*----------------------------------------*/
/*  2.4 Animations
/*----------------------------------------*/
@keyframes animate-pulse-white {
	0% {
		box-shadow: 0 0 0 0 rgba($color: #fff, $alpha: .8), 0 0 0 0 rgba($color: #fff, $alpha: .8);
	}

	40% {
		box-shadow: 0 0 0 50px rgba($color: #fff, $alpha: 0), 0 0 0 0 rgba($color: #fff, $alpha: .8);
	}

	80% {
		box-shadow: 0 0 0 50px rgba($color: #fff, $alpha: 0), 0 0 0 30px rgba($color: #fff, $alpha: 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba($color: #fff, $alpha: 0), 0 0 0 30px rgba($color: #fff, $alpha: 0);
	}
}
.pulse-white {
	animation: animate-pulse-white 3s linear infinite;
}